<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Zhexuan Liu and Junrui Ruan are both senior student majoring in Computer Science
at UW-Madison. For more details, feel free to visit <a href="http://junruiruan.com">Junrui Ruan's 
	homepage</a>
</p>